# CMake
*build
*build-debug
*main.dSYM

# IDE
*.vscode
*.vs
*x64
*.idea

# C extensions
*.so

# macOS
*.DS_Store
*.AppleDouble
*.LSOverride

# Executables
*.exe
*.out
*.app
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
